body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
}

.coluna-esquerda,
.coluna-direita {
  width: 100%;
}

.coluna-esquerda {
  background-color: #afd6b8ea;
  padding: 20px;
  margin-bottom: 20px;
}

.coluna-direita {
  background-color: #fff;
  padding: 20px;
}

.foto-perfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 auto 20px;
  text-align: center;
  line-height: 150px;
  font-size: 24px;
  color: #fff;
}

.secao {
  margin-bottom: 20px;
}

.secao h2 {
  color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
}

.coluna-direita h1 {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: bold;
}

.redes-sociais {
  margin-bottom: 20px;
}

.redes-sociais a {
  color: #007bff;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.redes-sociais .contato {
  display: block;
  margin-top: 10px;
  color: #000;
  font-weight: bold;
}

.coluna-direita p {
  margin-bottom: 20px;
}

.foto-perfil img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

@media (min-width: 780px) {
  .container {
    flex-direction: row;
  }

  .coluna-esquerda {
    width: 20%;
    margin-bottom: 0;
  }

  .coluna-direita {
    width: 80%;
  }

  .coluna-direita h1 {
    font-size: 32px;
  }
}
